
.counter {
  background-color: #f1f1f3;
  border-radius: 6px;
}

.counter button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
 font-size: 1em;
 color: black;
 font-weight: bold;
}

.counter span {
  display: inline-block;
  width: 1.5em;
}

.icono {
  color: red;
}

@media only screen and (max-width : 900px) {

  .counter button {
    width: fit-content;
  
  }
}