.counter {
    margin-top: 2% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    gap: 0.5rem !important;
}

  .box-quantity {
    margin-top: 3% !important;
    border: rgb(189, 189, 189) 1px solid !important;
    width: 170px !important;
    padding: 6px 2px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    background-color: rgb(243, 239, 239);
  }

  .btn-quantity {
    outline:none !important;
    background: transparent !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 1.2em !important;
    display: flex !important;
    align-items: center !important;
    
}

